<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqmrjb.system.mapper.ElectricSmallRoutineMapper">


    <delete id="doRemoveeIds" parameterType="long">
        <!-- delete from sys_account where id in(7789,7790) -->
        <!-- forEach : 用来循环 collection : 用来指定循环的数据的类型 可以填的值有：array,list,map item
            : 循环中为每个循环的数据指定一个别名 index : 循环中循环的下标 open : 开始 close : 结束 separator : 数组中元素之间的分隔符 -->
        delete from
        electric_small_routine
        where 1>2
        or id in
        <foreach collection="array" item="arr" open="(" separator="," close=")">
            #{arr}
        </foreach>
    </delete>
    <select id="listElectricSmallRoutine" parameterType="String" resultType="com.cqmrjb.system.entity.ElectricSmallRoutine">
        select
        es.* ,sr.small_routine_name,sr.manufacturers,et.electric_type
        from
        electric_small_routine as es
        LEFT JOIN electric_type_info et ON et.id=es.electric_type_id
        LEFT JOIN small_routine_info sr ON sr.appid=es.appid
        where
        es.status = 0 and et.status = 0 and sr.status = 0

        <if test="appid != null and appid != '' ">
            and es.appid= #{appid}
        </if>
        <if test="electric != null and electric != '' ">
            and et.electric_type like concat('%',#{electric},'%')
        </if>



        order by
        es.update_date
        desc



        <!--select-->
        <!--GROUP_CONCAT(es.electric_type_id SEPARATOR ',')as electricTypeId,sr.manufacturers,GROUP_CONCAT(et.electric_type SEPARATOR ',') as electricType,es.appid,es.id,es.`status`,es.update_date,sr.small_routine_name-->
        <!--from-->
        <!--electric_small_routine as es-->
        <!--LEFT JOIN electric_type_info et ON et.id=es.electric_type_id-->
        <!--LEFT JOIN small_routine_info sr ON sr.appid=es.appid-->
        <!--where-->
        <!--es.status = 0 and et.status = 0 and sr.status = 0-->

        <!--<if test="appid != null and appid != '' ">-->
            <!--and es.appid= #{appid}-->
        <!--</if>-->
        <!--<if test="electric != null and electric != '' ">-->
            <!--and et.electric_type like concat('%',#{electric},'%')-->
        <!--</if>-->

        <!--group by es.appid-->

        <!--order by-->
        <!--es.update_date-->
        <!--desc-->

    </select>
</mapper>
